<%- include('includes/header') %>
<%- include('includes/navbar') %>
<section class="about">
    <div class="container">
        <div class="inner about__inner">
            <div class="inner__head">
                <h3 class="inner__subtitle uppercase">kim jestem</h3>
                <h2 class="inner__haedline">Trochę o mnie</h2>
            </div>
            <div class="inner__content">
                <p><%- pageAbout %></p>
            </div>
        </div>
    </div>
</section>
<%- include('includes/footer') %>