<%- include('includes/header') %>
<%- include('includes/navbar') %>
<section class="home">
  <div class="home__content">
  <h1 class="home__headline uppercase"><span class="block home__subtitle">Sebastian</span><span class="block  home__title">Kopiczko</span></h1>
  <p class="home__paragraph">Junior front-end developer<p>
  <h1><%= title %></h1>
  <div id="change-lang">
    <button class="pl" data-lang="pl">PL</button>
    <button class="en" data-lang="en">EN</button>
  </div>
</section>
<%- include('includes/footer') %>