<%- include('includes/header') %>
<section class="home">
  <div class="home__content">
  <h1 class="home__headline uppercase"><span class="block home__subtitle">Sebastian</span><span class="block  home__title">Kopiczko</span></h1>
  <p class="home__paragraph">Junior front-end developer<p>
</section>
<%- include('includes/footer') %>